<h1>Aircraft#shossw</h1>

<p><%= @aircraft.serial_number %></p>

<% if !@watched %>
  <% if user_signed_in? %>
    <%= form_tag watch_path do %>
      <%= hidden_field_tag 'aircraft_id', @aircraft.id %>
      <button class="btn waves-effect waves-light pink darken-2">
        Add to Watchlist
      </button>
    <% end %>
  <% else %>
    <% link_to new_user_session_path do %>
      <button class="btn waves-effect waves-light pink darken-2">
        Add to Watchlist
      </button>

    <% end %>
  <% end %>
<% else %>
<h5><%= current_user.name %> is already following</h5>
<% end %>

<div class="col m8">
  <div class="card z-depth-2">
    <div class="card-image">
      <%= image_tag @aircraft.image %>
    </div>
    <div class="card-content grey-text tex-darken-4">

    </div>

    <div class="card-content">
      <h4>Reviews</h4>
      <div><%= render 'reviews/form' if @review && !@hasReview %></div>
      <div><%= render 'reviews/index' %></div>
    </div>
  </div>
</div>

</div>
