<%= form_for([@aircraft, @review]) do |f| %>

  <%= f.text_field :range %>
  <%= f.text_field :comment %>

  <%= f.hidden_field :aircraft_id, :value => @aircraft.id %>
  <%= f.hidden_field :user_id, :value => current_user.id %>

  <div class="actions"
   <%= f.submit %>
  </div>
<% end %>



  <!-- <div class="input-range">
    <%= f.range :, autofocus: true, :class => "validate", :placeholder => "Name" %>
  </div> -->
