<%= form_for([@aircraft, @review]) do |f| %>
  <%= f.label :rating %>
  <%= f.range_field :rating %>

	<%= f.text_field :comment %>

	<%= f.hidden_field :aircraft_id, :value => @aircraft.id %>

	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
